---
import { actions } from 'astro:actions';

let filter = [
    'name',
    'location'
];

const { data, error } = await Astro.callAction(actions.recent_pets, { filter });
// console.log(data, error)
---

<section class="w-full mx-auto mt-6" style="height: 900px;">
    <h2 class="mb-6 text-3xl text-foreground text-center bg-background rounded-xl px-6 py-4">Adoptables Recientes</h2>
    <div class="flex">
        {data ? (
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {data.data.map(item => (
            <div class="card p-2 cursor-pointer transition-all hover:scale-105" data-key={item.id}>
                <img src="https://api.images.cat/300" class="w-full h-80 object-cover rounded-xl" alt={item.name} />
                <h3 class="text-xl font-semibold py-2">{item.name}</h3>
                <p class="py-2">gato - {item.age} meses</p>
                <p class="py-2">{item.bio}</p>

                <div class="mb-0 flex gap-3 items-center justify-center">
                    <button class="btn btn-primary">Me interesa</button>
                    <button class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
</svg>
                    </button>
                </div>
            </div>
            ))}
        </div>
        ) : (
        <p>No hay adoptables aún buscando hogar.</p>
        )}
    </div>
</section>